.shopTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
}
.products {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 20rem;
}


.product {
  border-radius: 15px;
  width: 200px;
  height: 250px;
  margin: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.product img {
  width: 200px;
}

.rating {
  color: rgb(212, 181, 4);
}

.product .description {
  text-align: center;
}


.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}


.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}


.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

.search{
 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
 
}

#search{
  width: 40%;
  height: 40px;
  border-radius: 10px;
  padding-left: 15px;
  border: 1px solid gray;
  background-color: #e5e5e5;
 

}