/* General body margin */
body {
    margin-top: 20px;
}

/* Card styling */
.card-style1 {
    box-shadow: 0px 0px 10px 0px rgb(89 75 128 / 9%);
}

/* Removing borders from elements with this class */
.border-0 {
    border: 0 !important;
}

/* Default card styling */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

/* General section styling */
section {
    padding: 120px 0;
    overflow: hidden;
    background: #fff;
}

/* Margin bottom classes */
.mb-2-3, .my-2-3 {
    margin-bottom: 2.3rem;
}

/* Section title styling */
.section-title {
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

/* Primary text color */
.text-primary {
    color: #ceaa4d !important;
}

/* Secondary text color */
.text-secondary {
    color: #15395A !important;
}

/* Font weight utility class */
.font-weight-600 {
    font-weight: 600;
}

/* Display size utility class */
.display-26 {
    font-size: 1.3rem;
}

/* Padding classes for large screens */
@media screen and (min-width: 992px) {
    .p-lg-7 {
        padding: 4rem;
    }
}

/* Padding classes for medium screens */
@media screen and (min-width: 768px) {
    .p-md-6 {
        padding: 3.5rem;
    }
}

/* Padding classes for small screens */
@media screen and (min-width: 576px) {
    .p-sm-2-3 {
        padding: 2.3rem;
    }
}

/* General padding class */
.p-1-9 {
    padding: 1.9rem;
}

/* Secondary background color */
.bg-secondary {
    background: #15395A !important;
}

/* Padding right classes for small screens */
@media screen and (min-width: 576px) {
    .pe-sm-6, .px-sm-6 {
        padding-right: 3.5rem;
    }
}

/* Padding left classes for small screens */
@media screen and (min-width: 576px) {
    .ps-sm-6, .px-sm-6 {
        padding-left: 3.5rem;
    }
}

/* General padding right class */
.pe-1-9, .px-1-9 {
    padding-right: 1.9rem;
}

/* General padding left class */
.ps-1-9, .px-1-9 {
    padding-left: 1.9rem;
}

/* General padding bottom class */
.pb-1-9, .py-1-9 {
    padding-bottom: 1.9rem;
}

/* General padding top class */
.pt-1-9, .py-1-9 {
    padding-top: 1.9rem;
}

/* Margin bottom classes */
.mb-1-9, .my-1-9 {
    margin-bottom: 1.9rem;
}

/* Display inline-block on large screens */
@media (min-width: 992px) {
    .d-lg-inline-block {
        display: inline-block !important;
    }
}

/* Rounded corners utility class */
.rounded {
    border-radius: 0.25rem !important;
}
